@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('/font/static/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PlusJakartaSans-BoldItalic';
  src: url('/font/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url('/font/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Light';
  src: url('/font/static/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight:200;
  font-style:normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url('/font/static/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight:200;
  font-style:normal;
}

.font-bold {
	font-family: 'PlusJakartaSans-Bold', sans-serif;
}
.font-bolditalic {
	font-family: 'PlusJakartaSans-Bold', sans-serif;
}
.font-bolditalic {
	font-family: 'PlusJakartaSans-Bold', sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
	font-family: 'PlusJakartaSans-Regular', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
